body {
  margin: 0px;
}

header {
  background-color: #6699ff;
  font-family: 'Merriweather', serif;
  color: white;
  padding: 10px 50px;
  margin: 0px;
}

header:hover {
  color: darkblue;
  cursor: pointer;
}

.bold {
  font-weight: bold;
}

.blue {
  font-family: 'Open Sans', sans-serif;
  color: #6699ff;
}

.item {
  font-weight: bold;
  margin: 25px;
  padding: 10px;
  text-align: center;
  border: 3px solid darkblue;
  margin: 10px;
  height: 130px;
}

.price {
  color: #6699ff;
}

.cart {
  font-style: bold;
  color: darkblue;
  margin: 25px;
  padding: 10px;
  text-align: center;
  border: 3px solid darkblue;
  margin: 25px;
  display: flex;
  flex-direction: column;
}

#totalcost {
  background-color: #6699ff;
  font-family: 'Merriweather', serif;
  color: white;
  margin: 10px;
  padding: 1rem;
}

.section {
  font-style: bold;
  color: darkblue;
  margin: 5px;
  padding: 5px;
  text-align: center;
  border: 3px solid darkblue;
  margin: 25px;
  display: flex;
  flex-direction: column;
  flex-basis: 20%;
}

#products-list {
  font-style: bold;
  color: darkblue;
  margin: 5px;
  padding: 5px;
  text-align: center;
  border: 3px solid darkblue;
  margin: 25px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-basis: 60%;
  max-height: 375px;
}

footer {
  width:100%;
  height:20px;
  background-color: #6699ff;
  font-family: 'Merriweather', serif;
  color: white;
  font-size: x-small;
  margin-top: 50px;
  padding: 10px;
  bottom: 0px;
}

.content {
  display: flex;
  flex-direction: row
  justify-content: space-evenly;
  justify-content: center;
}

button {
  background-color: darkblue;
  color: white;
}

.checkout {
  background-color: blue;
  color: white;
  margin: 10px;
  padding: 1rem;
  font-weight: bold;
}

.checkout:hover {
  background-color: darkblue;
  color: white;
  cursor: pointer;
}


button:hover {
  background-color: #6699ff;
  color: white;
  cursor: pointer;
}

a:link {
  background-color: blue;
  color: white;
  margin: 10px;
  padding: 1rem;
  font-weight: bold;
  Text-decoration: none;
}

a:visited {
  color: white;
  Text-decoration: none;
}

a:hover {
  background-color: darkblue;
  color: white;
  cursor: pointer;
  Text-decoration: none;
}

a:active {
  text-decoration: none;
  background-color: blue;
  color: white;
  Text-decoration: none;
}
